@page
@model API.SpelMetJavaScriptModel
@{
    ViewData["Title"] = "SpelMetJavaScript";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reversi</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <p>ReversiGame</p>
</body>
</html>

<script>
    
</script>