@model IEnumerable<ReversiApp.Models.Spel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welkom!</h1>
<h5>Op deze website kun je het spel reversi tegen mensen spelen, maak hieronder een spel aan of join een al bestaand spel om te spelen!</h5>

<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Home")'">Maak spel aan!</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                <td>
                    <a asp-action="Join" asp-route-token="@item.Token">Join!</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
